/* CSS Document */

.container {
	display: grid;
	grid-template-columns: repeat(4, 15%);
	grid-template-rows: 25% 25% 25%;;
	grid-gap: 10px;
	justify-content: center;
	align-content: center;
	height: 100vh;
	

}

.container div {
	background-color: #444;
	color: #fff;
	border-radius: 5px;
	font-size: 1.5em;
	padding: 20px;
}

#a {
	grid-row: 1 / span 2;
}

#b {
	grid-column: 2/4;
	grid-row: 1 / span 2;
}

